ul {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  font-weight: bold;
  
}

li {
  margin-right: 20px;
}

h1, h2, h3{
  text-align: center;
}

a.active{
  color: red;
}

.my{
  color: blue;
}

.orange{
  color: orange;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;


}

.shp {
  margin-left: 100px;
}

.list button {
    margin-left: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.content {
  margin: auto;
  width: 500px;
}