a{
    color:pink
}
a:link{
    color:orangered
}
a:visited{
    color: rgb(40, 180, 89);}
a:hover{
    color: green;
}


a:active{
    color: blueviolet;
}
div{
    background: green;
    height: 100px;
    width: 100px;
}
div:hover{
    background: orange;
    cursor: pointer;
}