p{
	/* border: 1px solid red;
	border-top: 5px solid blue;

	border-width: 10px 2px 6px 14px;
	border-left-width: 4px;
	border-width: 10px;

	border-style: outset dotted double solid;
	border-bottom-style: dashed;

	border-color: green; */
/* 
	/* border: 5px solid red; */
	padding: 100px 40px 50 10px;
	padding-left: 60 px; 
	margin: 100px;

}

div{
	border:2px solid blue;
	width: 300;
	padding: 50px;
}
.one{
	box-sizing: border-box;
}

.two{
	box-sizing: content-box;
}

















