<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'course/favicon.ico' %}">

</head>
<body>
<div class="menu">
    <div class="wrap">

        <ul>
            <li><a href="{% url 'pricing' %}">Каталог курсов</a></li>
            <li><a href="{% url 'pricing' %}">Добавить курс</a></li>
            <li><a href="{% url 'pricing' %}">Информация</a></li>
        </ul>

    </div>
</div>
    <div class="content">
        <div class="wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>